<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our beauty saloon</title>
</head>
<body>
<h1>Welcome!</h1>
<a href="/admin">
    <button>Режим администратора</button> <!--FIXME-->
</a>

{% for service in available_services %}
    <div class="service_container" style="border-style: solid;border-color: aqua;border-radius: 4px">
        <div class="service_credentials" style="">
            <h3>{{ service.service_instance.name }}</h3>
            <p>{{ service.service_instance.price }}</p>
        </div>
        {% if not service.ordered %}
            <div class="service_order_container">
                <a href="make_order/{{ service.service_instance.service_id }}">
                    <button>Записаться</button>
                </a>
            </div>
        {% else %}
            <p>Вы записаны на {{ service.date }} {{ service.time }}</p>
        {% endif %}
    </div>
{% endfor %}

<a href="/logout">
    <button>Выйти из системы</button>
</a>
</body>
</html>