<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to our beauty saloon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-fixed-top navbar-dark bg-dark container-fluid">
        <a class="navbar-brand" href="/">Салон красоты</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
                {% if client.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Заказы</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="navbar-text me-auto">
                    {{ request.user.first_name }} {% if request.user.is_staff %}(Администратор){% endif %}
                </li>
                <li class="nav-item me-auto">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="list-group">
        {% for service in available_services %}
            <div class="list-group-item card text-center p-0.5 m-2">
                <div class="card-body">
                    <h5 class="card-title">{{ service.service.name }}</h5>
                    <p class="card-text">{{ service.service.price }} рублей</p>
                    {% if not request.user.is_staff %}
                        {% if not service.ordered %}
                            <a class="btn btn-primary" href="make_order/{{ service.service.service_id }}">
                                Записаться
                            </a>
                        {% else %}
                            <p class="card-text">Вы записаны
                                                 на {{ service.service.date }} {{ service.service.time }}</p>
                            <form action="/cancel_order/{{ service.service.service_id }}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Отменить запись</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-danger" href="delete_service/{{ service.service.service_id }}">Удалить
                                                                                                         сервис</a>
                        <a class="btn btn-primary" href="show_orders/{{ service.service.service_id }}">Показать
                                                                                                       заказы</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>