<nav class="navbar navbar-expand-sm navbar-fixed-top navbar-dark bg-dark container-fluid">
    <a class="navbar-brand" href="/">Салон красоты</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/">Услуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Контакты</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-text">
                <p class="text">{{ client.name }}</p>
                {% if client.is_staff %}
                    <p class="text">Администратор</p>
                {% endif %}
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="/logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>